.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
  background-color: #428bca;
  color:#fff;
}
.table-hover > tbody > tr > td.primary:hover,
.table-hover > tbody > tr > th.primary:hover,
.table-hover > tbody > tr.primary:hover > td,
.table-hover > tbody > tr.primary:hover > th {
  background-color: #428bca;
  color:#fff;
}

.table > thead > tr > td.public-holiday, 
.table > tbody > tr > td.public-holiday, 
.table > tfoot > tr > td.public-holiday, 
.table > thead > tr > th.public-holiday, 
.table > tbody > tr > th.public-holiday, 
.table > tfoot > tr > th.public-holiday, 
.table > thead > tr.public-holiday > td, 
.table > tbody > tr.public-holiday > td, 
.table > tfoot > tr.public-holiday > td, 
.table > thead > tr.public-holiday > th, 
.table > tbody > tr.public-holiday > th, 
.table > tfoot > tr.public-holiday > th {
    background-color: #f9e05d;
}

.pointer {
    cursor: pointer;
}