/* Version 1.0.2 */

.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
  background-color: #428bca;
  color:#fff;
}
.table-hover > tbody > tr > td.primary:hover,
.table-hover > tbody > tr > th.primary:hover,
.table-hover > tbody > tr.primary:hover > td,
.table-hover > tbody > tr.primary:hover > th {
  background-color: #428bca;
  color:#fff;
}

.table > thead > tr > td.bankholidays, 
.table > tbody > tr > td.bankholidays, 
.table > tfoot > tr > td.bankholidays, 
.table > thead > tr > th.bankholidays, 
.table > tbody > tr > th.bankholidays, 
.table > tfoot > tr > th.bankholidays, 
.table > thead > tr.bankholidays > td, 
.table > tbody > tr.bankholidays > td, 
.table > tfoot > tr.bankholidays > td, 
.table > thead > tr.bankholidays > th, 
.table > tbody > tr.bankholidays > th, 
.table > tfoot > tr.bankholidays > th {
    background-color: #f9e05d;
}